# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gradle
target
gen
# Package Files #
*.jar
*.war
*.ear
.gradle
node_modules/
querydsl
build